#cancle{
    margin-left: 5px;
}
.container-fluid{
    margin-left: 110px;
}
#aad{
    font-family: 'Athiti', sans-serif;
    font-size: 16px;
}
#aab{
    font-family: 'Athiti', sans-serif;
    font-size: 20px;
}