<app-sidebar></app-sidebar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&family=Teko&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Barlow+Condensed:wght@100&display=swap">
<div class="w3-padding-large" id="main">
  <header class="w3-container w3-padding-20 w3-center w3-white" id="home">
    <h1 class="w3-jumbo"id= "Profile">
        <span class="w3-hide-small" >MyAccout : </span>
        {{getUser()}}
    </h1>
    <p id= "Profile2">Tree-Shop-G10-AdvancedWeb</p>
    </header>

 
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-black" >Welcom To The TreeShop</h2>
    <hr style="width:450px" class="w3-opacity">
    <p id= "Profile3">
        We are a local and online plant nursery based in Surrey Hills offering the Melbourne community access to premium plants, trees and shrubs. Our plants are ideal for both residential, commercial and public-space settings and are available in a range of types, shapes, sizes and colours so that you can design your garden or outdoor space in accordance with your preferences and specifications.
        <br>
        <br>
        Our broad range of flora include evergreen trees, feature trees suitable for pots, green shade trees, bamboo plants, climbers, shrubs, weeping trees, fruit trees, natives, indoor plants and more. You will be able to convert your indoor or outdoor area into a fantastic green space or urban oasis. Complement your home or business with a colourful, natural and vibrant selection of plants, trees and shrubs that will make your garden feature stand out.
        <br>
        <br>
        If you need help designing your garden or outdoor space, why not let us help you! With our Garden Consultancy Services provided by qualified specialists, we offer two levels of support:
        <br>
        <br>


    </p>
  <!-- End About Section -->
  
</div>

  
  
