#Profile{
    font-family: 'Rajdhani', sans-serif;
    font-size: 80px;
    
}
#Profile2{
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    
}
#Profile3{
    font-family: 'Barlow Condensed', serif;
    font-size: 18px;
}