<app-sidebar></app-sidebar>
<br />
<br />
<div>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&family=Teko&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@300;400&display=swap" rel="stylesheet">
    <div class="card-body ">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8 ">
                <form [formGroup]="productForm">
                    <div class="card">
                        <div class="card-header" id="addproduct">
                            Product Form
                        </div>
                        <div class="card-body" id="aad">
                            <div class="row">
                                <div class="col-md-3">
                                    ประเภท:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <select class="form-control" formControlName="type">
                                            <option value="">เลือกประเภทต้นไม้</option>
                                            <option *ngFor="let item of productType" [value]="item">{{item}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    ชื่อ:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName='name'>
                                        <div *ngIf="(fromdata.name.dirty || fromdata.name.touched)" id="sign">
                                            <div *ngIf="fromdata.name.errors?.required" class="alert alert-danger"
                                                id="addproduct">
                                                name is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    รายละเอียด:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName='detail'>
                                        <div *ngIf="(fromdata.detail.dirty || fromdata.detail.touched)" id="sign">
                                            <div *ngIf="fromdata.detail.errors?.required" class="alert alert-danger"
                                                id="addproduct">
                                                detail is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    วิธีการดูแล:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName='takecare'>
                                        <div *ngIf="(fromdata.takecare.dirty || fromdata.takecare.touched)" id="sign">
                                            <div *ngIf="fromdata.takecare.errors?.required" class="alert alert-danger"
                                                id="addproduct">
                                                takecare is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    ขนาด:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName='size'>
                                        <div *ngIf="(fromdata.size.dirty || fromdata.size.touched)" id="sign">
                                            <div *ngIf="fromdata.size.errors?.required" class="alert alert-danger"
                                                id="addproduct">
                                                size is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    ราคา:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="number" class="form-control" formControlName='price'>
                                        <div *ngIf="(fromdata.price.dirty || fromdata.price.touched)" id="sign">
                                            <div *ngIf="fromdata.price.errors?.required" class="alert alert-danger"
                                                id="addproduct">
                                                price is required
                                            </div>
                                            <div *ngIf="fromdata.price.value < 0" class="alert alert-danger"
                                                id="addproduct">
                                                price > 0 plss
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    รูป:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="file" class="form-control-file" formControlName='file'
                                            (change)="onChangeImg($event)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-9">
                                    <img *ngIf="previewLoaded" class="img-thumbnail" [src]="this.productForm.value.img"
                                        style="height:150px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="modal-footer" id="aad">
                                        <p><button class="w3-button " (click)="addProduct()" id="accept">Add</button>
                                        </p>
                                        <p><button class="w3-button " (click)="resetForm()" id="cancle">Reset</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>
</div>